대규모점포정보.csv

가공 data/*
convenience_store_data.csv
food_industry_data.csv
sports_center_data.csv
department_data.csv

활용 data/*
상가정보 data/*
상가정보_경기.csv
상가정보_강원.csv
상가정보_경남.csv
상가정보_경북.csv
상가정보_광주.csv
상가정보_대구.csv
상가정보_대전.csv
상가정보_부산.csv
상가정보_서울.csv
상가정보_세종.csv
상가정보_울산.csv
상가정보_인천.csv
상가정보_전남.csv
상가정보_전북.csv
상가정보_제주.csv
상가정보_충남.csv
상가정보_충북.csv